@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P";
}

html {
  color: #fff;
  background: #000;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
